---
import GroupDisplay from '~components/group-display.astro'
---

<section class="mt-8">
  <h2 class="text-2xl font-semibold">Reference "Hardcoded" buttons</h2>
  <div class="mt-4 space-y-4">
    <!-- 
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
      Impact variant
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    -->
    <GroupDisplay title="Impact">
      <button
        class="rounded-md bg-indigo-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Bold
      </button>
      <button
        class="rounded-md bg-indigo-100 px-5 py-2 font-semibold text-indigo-700 hover:bg-indigo-200 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50"
      >
        Light
      </button>
      <button
        class="rounded-md bg-transparent px-5 py-2 font-semibold text-indigo-700 hover:bg-indigo-50 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50"
      >
        None
      </button>
    </GroupDisplay>

    <!-- 
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
      Size variant
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    -->
    <GroupDisplay title="Size">
      <button
        class="rounded bg-indigo-500 px-7 py-2.5 text-lg font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Large
      </button>
      <button
        class="rounded bg-indigo-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Medium
      </button>
      <button
        class="rounded bg-indigo-500 px-3 py-1 text-sm font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Small
      </button>
    </GroupDisplay>

    <!-- 
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
      Shape variant
      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    -->
    <GroupDisplay title="Shape">
      <button
        class="bg-indigo-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Square
      </button>
      <button
        class="rounded-md bg-indigo-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Rounded
      </button>
      <button
        class="rounded-full bg-indigo-500 px-5 py-2 font-semibold text-white shadow-md hover:bg-indigo-600 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 focus-visible:ring-offset-2 active:translate-y-px disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Pill button
      </button>
    </GroupDisplay>
  </div>
</section>
