---
import Layout from '~layouts/base.astro'
import Snippet from '~workshop/modal/03-05-01/index.astro'

export const id = '03-05-01'
export const title = 'The tone variant'
export const tag = 'Challenge'
---

<Layout>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <Snippet />
  </div>
</Layout>
