---
import Layout from '~layouts/base.astro'
import Snippet from '~workshop/modal/03-03-02/index.astro'

export const id = '03-03-02'
export const title = 'Dynamic content via props'
export const tag = 'Solution'
---

<Layout>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <Snippet />
  </div>
</Layout>
