---
import Layout from '~layouts/base.astro'
import Snippet from '~workshop/button/02-05-02/index.astro'

export const id = '02-05-02'
export const title = 'New "tone" prop creeping into scope'
export const tag = 'Solution'
---

<Layout>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <Snippet />
  </div>
</Layout>
