---
import Layout from '~layouts/base.astro'
import Snippet from '~workshop/button/02-04-01/index.astro'

export const id = '02-04-01'
export const title = 'Composing all variant styles'
export const tag = 'Challenge'
---

<Layout>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <Snippet />
  </div>
</Layout>
