---
import Calendar from './calendar'
---

<div class="my-20 mx-auto grid max-w-4xl justify-center gap-x-32 gap-y-20 lg:grid-cols-2">
  <div class="max-w-md">
    <h2 class="text-sm font-semibold uppercase tracking-widest text-red-500">Reference</h2>
    <Calendar client:only="react" />
  </div>
  <div class="max-w-md">
    <h2 class="text-sm font-semibold uppercase tracking-widest text-red-500">Reference</h2>
    <Calendar vacancyToday client:only="react" />
  </div>
</div>
