---
export interface Props {
  title: string
}
const { title } = Astro.props as Props
---

<div>
  <h2 class="text-lg font-medium">{title}</h2>
  <div class="mt-2 flex flex-wrap items-center gap-3">
    <slot />
  </div>
</div>
