---
import Challenge from './challenge.astro'
import Reference from './reference.astro'
---

<div class="my-20 mx-auto grid max-w-4xl justify-center gap-x-32 gap-y-20 lg:grid-cols-2">
  <Challenge />
  <Reference />
</div>
